{% extends "web_pages/base.html " %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" /> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<link rel="stylesheet" type="text/css" href="{% static 'web_pages/about_style.css' %}" />
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<title>About</title>
		<style type="text/css">
			.subject_teacher_info{
              background-color:  lightskyblue; 
              margin-left: 20%;margin-right: 20%;
			    }
			    #po_name_info{
			        padding: 10%;
			      }

			
		</style>
	</head>
	<body><br>
		<div align="center">
				<p style="font-size: 50px;"><b>Project Title : NSS Website</b></p>
				<h4>Smt kashibai navale engineering collegr vadagaon <br>
				    department name : Computer department <br>
				    subject : DBMS & SDL <br>
				    div : 2nd  
				</h4>
				<br>
			</div>
 
<h1 style="color: blue"><b>Subject Teacher :-</b></h1>
        <div class="subject_teacher_info">
        	  <div  align="center" class="w3-container">
			    <div class="w3-large"></div>
			  <div class="w3-row w3-border">
			   <div class="w3-half w3-container" style="padding: 4%;"> 
			  <img src="{% static 'web_pages/dbms_sir.png' %}" class="rounded-circle" width="270px" >
			  <br>
			            <h3><b>Prof.kahate Sir</b></h3> 
			             Subject: DataBase Management System<br>
			             skncoe_vadgaon <br>
			             pune</h4>
			</div>
			<div class="w3-half w3-container" style="padding-top: 10%">
			         <img src="{% static 'web_pages/quotes.svg' %}" alt="quotes svg"> <br> <br>
			          Congrats Team! Your true effort and hardwork in DBMS mini project are to be sure very valued for NSS team. You ought to be pleased with yourselves. Congrats to all group members. Keep doing awesome.
					 🙏🏻🙏🏻
			 </div></div></div><br></div>
        </div> <br><br>
        <div class="subject_teacher_info">
        	  <div  align="center" class="w3-container">
			    <div class="w3-large"></div>
			  <div class="w3-row w3-border">
			   <div class="w3-half w3-container" style="padding: 4%;"> 
			  <img src="{% static 'web_pages/sdl_mam.jpg' %}" class="rounded-circle" width="270px" >
			  <br>
			             miss Gitajali mam <br>
			             Subject :Specification and Description Language <br>
			             skncoe_vadgaon <br>
			             pune</h4>
			</div>
			<div class="w3-half w3-container" style="padding-top: 10%">
			         <img src="{% static 'web_pages/quotes.svg' %}" alt="quotes svg"> <br> <br>
			          National Service Scheme (NSS) teach us to grow ourself to Help mankind. 
			          NSS is not only a service unit. It is platform to develop our skills and we will learn how to speak with different people. 
			              We get to know the people closely by working with them and identifying needs of society and environment. 
			          Active and dedicated NSS Volunteers plays major role in society reforms.
			 </div></div></div><br></div>
        </div>  <br><br>   
<h1 style="color: blue"><b>ER Diagram :-</b></h1>
<div align="center">
<img src="{% static 'web_pages/project_er.png' %}" width="70%;">
</div>
<br>
<h1 style="color: blue"><b>Project Team Memberes :-</b></h1>
         <table align="center">
         	<tr>
         		 <td style="padding-left: 100px; padding-right: 100px;"> <img src="{% static 'web_pages/suraj1.jpeg' %}" width="270px" class="img-thumbnail"></td>
         		 <td style="padding-left: 100px;  padding-right: 100px;"> <img src="{% static 'web_pages/sanket1.jpeg' %}" width="270px" class="img-thumbnail"></td>
         	</tr>
         	<tr>
         		 <td style="padding-left: 100px; padding-right: 100px;">
         		 	<h5> 
         		 		<b>
         		 		Student Name: Suraj Shinare <br>
         		 		Email : surajm2021@gmail.com <br>
         		 		Roll Number : 237 <br>
         		 		</b>
         		 	</h5>
         		 </td>
         		   <td style="padding-left: 100px; padding-right: 100px;">
         		 	<h5> 
         		 		<b>
         		 		Student Name: Sanket Auti <br>
         		 		Email :sanketauti8@gmail.com<br>
         		 		Roll Number : 234 <br>
         		 		</b>
         		 	</h5>
         		 <td>
         	</tr>         	
         </table>        
<h1 style="color: blue"><b>References:-</b></h1> 
	<div style="width: 50%; padding-left: 20%;">
		 <h5>
		     <a href="https://www.google.com/search?">https://www.google.com/search?</a> <br><br>
		     <a href="https://www.w3schools.com/bootstrap4/bootstrap_navbar.asp">https://www.w3schools.com/bootstrap4/bootstrap_navbar.asp</a> <br><br>
		     <a href="https://www.javatpoint.com/python-if-else">https://www.javatpoint.com/python-if-else</a> <br><br>
		     <a href="https://www.youtube.com/playlist?list=PL-osiE80TeTtoQCKZ03TU5fNfx2UY6U4p">https://www.youtube.com/playlist?list=PL-osiE80TeTtoQCKZ03TU5fNfx2UY6U4p</a> <br><br>
		     <a href="https://stackoverflow.com/questions/tagged/python">https://stackoverflow.com/questions/tagged/python</a> <br><br>
		     <a href="https://nss.gov.in/">https://nss.gov.in/</a>
		 </h5>
	</div>  
</body>
</html>
{% endblock %}