{% extends "web_pages/base.html" %}
{% load static %}
{% block content %}
<div style="background-image: url('{% static 'user/nss_team_background.jpg' %}'); ">
<br>
added_by = {{object.added_by}}<br>
              {% if object.added_by == user %}
               <a class="btn btn-secondary btn-sm mt-1" href="{% url 'post-update' object.id %}">update</a>
               <a class="btn btn-danger btn-sm mt-1" href="{% url 'post-delete' object.id %}">delete</a>
              {% endif %}
              <div align="center" style="color: white; font-size: 20px;" class="font-weight-bold">  
              <img src="{{ object.image.url }}" style="display: block; width: 290px;">  <br>
              name : {{object.name}}<br>
              Branch : {{object.branch}}<br>
              Status : {{object.status}}<br>
               achivement : {{object.achievement}}<br>
               sex : {{object.sex}}
                <br><br></div></div>
            {% endblock content %}